body, html{
    padding:0;
    margin:0;
}

/* Main REALSURF title */
h1 {
    font-family: 'Biryani', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #4C4C4D;
}

/* Bottom background image */
img {
    width: 100%;
    background-size: 100% 100%;
    background-position: center, bottom;
    position: fixed;
    bottom: 0px;
}

/* Remove underline of links */
a:link{
    text-decoration: none;
}

/* mouse over link change to ocean blue */
a:hover {
    color: #7bd2f2;
}

/* Display in horizontal arrangment */
.container {
        display: flex;
        width: 100%;
        padding-top: 50px;
    }

.column {
        text-align: center;
        flex-grow: 1;
    }

.text {
        font-family: 'Biryani', sans-serif;
        font-size: 20px;
        font-weight: lighter;
        text-align: center;
        color: #4C4C4D;
    }
