h1 {
  font-family: 'Biryani', sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      padding: 50px;
}

ul {
    text-align: justify;
}
ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}
ul:before {
    content: '';
    display: block;
    margin-top: 0em;
}
li1 {
	font-family: 'Biryani', sans-serif; 
    font-size: 14px;
    font-weight: light;
    color: #929292;
    display: inline-block;
    margin-left: 10em;
    margin-right: 13em;
    position: relative;
    top: 1.25em;
}

li2 {
	font-family: 'Biryani', sans-serif; 
    font-size: 16px;
    font-weight: light;
    color: #929292;
    display: inline-block;
    margin-left: 10em;
    margin-right: 13em;
    position: relative;
    top: 1.25em;
}