h1 {
  font-family: 'Biryani', sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      padding: 50px;
}

h2{
  font-family: 'Biryani', sans-serif;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          color: #4C4C4D;
          padding-top: 150px;

}

h3{
  font-family: 'Biryani', sans-serif;
          font-size: 14px;
          font-weight: lighter;
          text-align: center;
          color: #c6c6c6;
}

#search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 2px solid #d1d1d1;
    font: bold 12px Biryani, sans-serif;
    color: #4C4C4D;
    width: 200px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    }

#search input[type="text"]:focus {
    width: 200px;
    }

.container {
  display: flex;
  width: 100%;
  padding-top: 130px;
}

.column {
  text-align: center;
  flex-grow: 1;
}

.text {
  font-family: 'Biryani', sans-serif;
          font-size: 14px;
          font-weight: lighter;
          text-align: center;
          color: #4C4C4D;
}

.number {
  font-family: 'Biryani', sans-serif;
          font-size: 70px;
          font-weight: bold;
            color: #4C4C4D;
          text-align: center;
}
