<!DOCTYPE HTML>
<html>

<head>
    <title>REALSURF</title>
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='about.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Biryani:300,400,800"
    rel="stylesheet">
</head>
<body>
    <ul>
        <li style="float:left"><a href="/">REALSURF</a></li>
        <li><a href="/sunsetcliffs">Sunset Cliffs</a></li>
        <li><a href="/scripps">Scripps</a></li>
        <li><a href="/blacks">Blacks</a></li>
        <li><a href="/cardiff">Cardiff</a></li>
        <li style="float:right"><a href="/about">About</a></li>
    </ul>

    <p>
        REALSURF is a personal project by David Owens, a student at the
        University of California, San Diego. The purpose of this project is
        to gain experience with web developement. This site is built upon the
        Python Flask framework and utlizes the BeautifulSoup web scraping
        library to obtain the surf data displayed. This site serves as a
        "proof of concept" hence the small collection of surf breaks accessible
        to the user. So what makes this site different than others? Well first
        it's not a crowded mess and will never have ads, but also the surf data
        displayed are all calcuated from a weighted average based upon multiple
        other surf report websites. Hopefully, by doing this calculuation, the
        user will be provided with the most accurate surf report possible,
        leading to better decision making. If you encounter a bug, please let me
        know at davidowens088@gmail.com. Legal: All data obtained from other
        report sites like surfline.com, magicseaweed.com is rightfully owned
        by the respective site. REALSURF is not and never will be intended
        for profit/commercial use.
    </p>

    <div id="footer">
        <h1>
            REALSURF
        </h1>

        <h2>
            A simple site by David Owens
        </h2>
    </div>

</body>
</html>
