<!DOCTYPE HTML>
<html>

<head>
    <title>REALSURF</title>
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='landingPage.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Biryani:300,400,800"
    rel="stylesheet">
</head>
<body>

    <h1>REALSURF</h1>

    <div class="container">
        <div class="column">
            <a href="/sunsetcliffs" class="text">Sunset Cliffs</a>
        </div>
        <div class="column">
            <a href="/scripps" class="text">Scripps</a>
        </div>
        <div class="column">
            <a href ="/blacks" class="text">Blacks</a>
        </div>
        <div class="column">
            <a href="/cardiff" class="text">Cardiff</a>
        </div>
    </div>

    <img src="/static/images/realsurf topo background lowered.png">

</body>
</html>
