<!DOCTYPE HTML>
<html>

<head>
    <title>REALSURF</title>
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='unknownPage.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Biryani:300,400,800"
    rel="stylesheet">
</head>
<body>
    <ul>
        <li style="float:left"><a href="/">REALSURF</a></li>
        <li><a href="/sunsetcliffs">Sunset Cliffs</a></li>
        <li><a href="/scripps">Scripps</a></li>
        <li><a href="/blacks">Blacks</a></li>
        <li><a href="/cardiff">Cardiff</a></li>
        <li style="float:right"><a href="/about">About</a></li>
    </ul>

    <p>
        No report for {{name}}, must be a secret spot...
    </p>

    <div id="footer">
        <h1>
            REALSURF
        </h1>

        <h2>
            A simple site by David Owens
        </h2>
    </div>

</body>
</html>
